*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* background: linear-gradient(#123, 456, 789) */
}
html {
    min-height: 100%;
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.35), rgba(18, 206, 6, 0.48),
    rgba(81, 234, 63, 0.69));
}  
h1{
    color: #182322;
    text-shadow: 7px 5px 6px  blue;
    animation: 1s linear 0s 1 slideInFromTop;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    /* font-family: 'Noto Serif', serif; */
    font-size: 4.5em;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 25px;
}
img{
    box-shadow: 2px 2px 2px gray;
    width: 100%;
    border: 9px solid #000;
    border-radius: 100em;
    overflow: hidden;
    transition: 500ms;
}
#main{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
}
.linkItem{
    /* margin: 4% auto; */
    width: 250px;
    /* height:  */
}
#first{
    animation: 2s ease-in-out 0s 1 slideInFromLeft;
}
#second{
    animation: 2s ease-in-out 0s 1 slideInFromOnTop;
}
#third{
    animation: 2s ease-in-out 0s 1 slideInFromOnBottom;
}
#fourth{
    animation: 2s ease-in-out 0s 1 slideInFromRight;
}
a{
    position: relative;
    transition: 1s;
    display: block;
    text-align: center;
    text-decoration: none;
}
a:hover img{
    text-decoration: none;
    transform: scale(1.3) rotateZ(-360deg);
    box-shadow: 8px 8px 8px gray;
}
.linkText{
    margin-top: 2em;
    font-family: 'Noto Serif';
    font-size: 1.3em;
    color: #000;
    font-weight: 900;
}
.linkText:hover{
    color: #DA1919;
}
@keyframes slideInFromTop {
    0% {
        transform: translateX(-100%) translateY(-100%);
    }
    33% {
        transform: translate(-25%, 0);
    }
    66%{
        transform: translate(-5%, -25%);
    }
    70%{
        transform: translate(-4%, -20%);
    }
    75%{
        transform: translate(-3%, -15%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
  }

  @keyframes slideInFromLeft{
    0% {
        transform: translate(-150%, -150%);
    }
    50% {
        transform: translate(-150%, -150%);
    }
    100% {
        transform: translate(0);
    }
}
  @keyframes slideInFromRight{
    0% {
        transform: translate(150%, 150%);
    }
    50% {
        transform: translate(150%, 150%);
    }
    100% {
        transform: translate(0);
    }
}
  @keyframes slideInFromOnTop{
    0% {
        transform: translateX(-250%);
    }
    50% {
        transform: translateX(-250%);
    }
    100% {
        transform: translateX(0);
    }
}
  @keyframes slideInFromOnBottom{
    0% {
        transform:translateY(250%);
    }
    50% {
        transform:translateY(250%);
    }
    100% {
        transform: translate(0);
    }
}